---
title: Welcome to Middleman Foundation
---

.hero_slider 
  .outer
    .inner
  .hero_nav
    .hero_buttons
      .hero_button
      .hero_button
      .hero_button
      .hero_button

.middle_content
  .main_case_study
    .top_header
      %h3.top_header_text 

    .content_case_study.cf
      .copy_case_study
        %h2.copy_header
          ████ ███ █ ████
        %p.copy
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          ██ ██ ███ █ ██ ██

      .figure_case_study
        .outer
          .inner

  .case_study_grid
    .grid_content.cf
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
      .grid_block
