---
title: Welcome to Middleman Foundation
---

.hero_slider 
  .outer
    .inner
  .hero_nav
    .hero_buttons
      .hero_button
      .hero_button
      .hero_button
      .hero_button

.middle_content
  .main_case_study
    .top_header
      %h3.top_header_text 

    .content_case_study.cf
      .figure_case_study
        .outer
          .inner

      .copy_case_study
        %h2.copy_header
          ████ ███ █ ████
        %p.copy
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          █ ███ ███ █ ██ ██ ██ ██ ███ █ ██ ██
          ██ ██ ███ █ ██ ██

  .case_study_grid
    .grid_content.cf
      %ul.small-block-grid-10
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
        %li.block_grid
      
  .build_custom
    .top_header.flipped
      %h3.top_header_text

    .venn_container.cf
      .venn.enterprise
        .outer
          .inner
        .text_container

      .venn.extension
        .inner
          .outer
        .text_container

      .venn.ecommerce
        .inner
          .outer
        .text_container

  .follow
    .top_header.flipped
      %h3.top_header_text

    .blogs.cf
      .blog.left

      .blog.right
